#btn1{
  border: 2px solid red;
  border-radius: 25px;
  padding: 10px 80px;
  background-color:red;
  font-size:smaller;
  color: white;

}

#btn2{
  border: 2px solid red;
  border-radius: 25px;
  padding: 10px 80px;
}
