<div>
  <br><br>
<form>
<mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field floatLabel="never" >
  <mat-label>Password</mat-label>
  <input matInput>
</mat-form-field>
<br>
<mat-form-field floatLabel="always">
  <mat-label>Name</mat-label>
  <input matInput>
</mat-form-field>
<br>
<mat-form-field floatLabel="auto" appearance="outline">
  <mat-label>Apellido</mat-label>
  <input matInput>
</mat-form-field>
</form>
</div>


