#btn1{
  border: 2px solid red;
  border-radius: 25px;
  padding: 10px 80px;
  background-color:red;
  font-size:smaller;
  color: white;
}

#btn2{
  border: 2px solid red;
  border-radius: 25px;
  padding: 10px 80px;
}

#link{
  position: relative;
  left: 1rem;
  font-family: 'Architects Daughter', cursive;
}

#inputs{
  font-display:optional;
  font-size: smaller;
  font-family: 'Architects Daughter', cursive;
}


