<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1>
      {{title}}
    </h1>
</div>

  <button [routerLink]="['/login']" mat-button color="warn">Login</button>
  <button routerLink=""mat-button>Home</button>




  <router-outlet></router-outlet>

</body>
</html>


